@import url("RIP_SAVITAPALL/chem1.jpg");


.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}




.nav {
    z-index: 1;
    position: fixed;
    border-style: none; 
    background-color: #FFF;
    margin: 0;
    width: 100%;
    float: top;

}
li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #B0E0E6;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.pic {
    background: url("RIP_SAVITAPALL/chem1.jpg") no-repeat center center;
    height: 700px;
    width: 100%; 
    background-size: cover;